.join__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.join__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  background-image: url('../../img/poker-game-night-with-friends.jpg');
  background-size: cover;
}

.QPLogo__figure {
  position: relative;
  width: 15%;
}

.QPLogo__figure__img {
  width: 100%;
  margin: 3rem 0;
}

.join__form {
  position: relative;
  background-color: rgba(255, 255, 255, .8);
  border: darkgrey solid 1.5px;
  width: 60%;
  max-width: 120rem;
  height: 30rem;  
  padding: 5rem;
  text-align: center;
  border: none;
}

.join__form__header{
  font-size: 3.6rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.join__form__input__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.join__form__input {
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  display: block;
  border: none;
  border-bottom: 1px solid #313131;
  color: #000;
  font-size: 3rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
  width: 50%;
  position: absolute;
  left: 0;
}

.join__form__input--naam {
  margin-top: 4rem;
}

.join__form__input--room {
  bottom: 0;
  margin-bottom: 4rem;
}

.join__form__input::placeholder {
  color: #313131
}

.join__form__input:focus {
  outline: none;
}

.join__form__button {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  background-color: #3a486b;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 4rem;
  margin-right: 4rem;
  transition: all .3s;
}

.join__form__button:hover {
  cursor: pointer;
  background-color: rgb(40, 43, 53);
}
