html, body{
  margin: 0;
  padding: 0;
}

.section1{
  height: 30vh;
  width: 80%;
  border: darkgrey solid 1.5px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.section1__form{
  display: table-cell;
}

.section1__form__label{
  margin: 20px 0;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
}

.section1__form__input{
  width: 70%;
  display: block;
  border: none;
  font-size: 2.5rem;
  padding: 10px;
  font-family: sans-serif;
  border-bottom: 1px solid darkgrey;
  color: darkgrey;
  position: absolute;
  bottom: 50px;
}

.section1__form__input:focus{
  outline-width: 0;
}

.section1__form__button{
  background-color: #4E4B9D;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.7rem;
  border-radius: 5px;
  padding: 20px 30px;
  position: absolute;
  bottom: 50px;
  margin-left: 75%;
}

.section1__form__button:hover{
  cursor:pointer;
}
