.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 7%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: 101;
  padding: 3rem 3rem 2rem 3rem;
}

.modal__button {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all .2s;
  left: 50%;
  transform: translateX(-50%);
}

.modal__button--open {
  bottom: 0;
  margin-bottom: 2rem;
  position: absolute;
}

.modal__button:hover {
  background-color: #3a486b;
  color: #fff;
  cursor: pointer;
}

.modal__heading {}

.modal__heading--tertiary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 4rem;;
}

.modal__heading--quaternary {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.modal__content {
  display: flex;
  justify-content: space-between;
}

.modal__text {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.3;
}

.modal__button--close {
  margin-top: 3rem;
  position: relative;
  border: 1px solid #3a486b;
}

.modal__content__linkerkolom {
  /* background-color: red; */
  flex: 0 0 47%;
}

.modal__content__rechterkolom {
  /* background-color: blue; */
  flex: 0 0 47%;
}
