.sidebar {
  flex: 0 0 15%;
  padding: 2rem 2rem;
  max-height: 100vh;
  overflow: auto;
  background-color: #31383F;
  position: relative;
}

.sidebar::-webkit-scrollbar {
  width: .5rem;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}