.game { 
    flex: 0 0 60%;
    position: relative;
    height: 100vh;
}

.background {
    background-image: url('../../img/nikola-jovanovic-QGPmWrclELg-unsplash-blur.png');
    background-size: cover;
    
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: bottom;
    background-repeat: no-repeat;
}
