.hand {
 height: 23rem;
 background-color: rgba(83, 83, 83, 0.5);
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 justify-content: center;
 padding: 1rem 3rem;
}

.singleCard {
  width: 13rem;
  margin: 0 1rem;
  transition: all .3s;
}

.singleCard:hover {
  transform: translateY(-2rem) scale(1.04);
}

.singleCard__img {
  width: 100%;
}

.hand--notvisible {
  display: none;
}