.activeContainer {
  display: flex;
  padding: 0 15rem;
  flex-wrap: wrap;
  justify-content: center;
}

.player-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.player-active__icon {
  height: 6rem;
  width: 6rem;
}

.player-active__icon:hover {
  fill: blue;   /* moet nog ff leuker kleurtje */
  cursor: pointer;
}

.player-active__name {
  font-size: 1.8rem;
  max-width: 8rem;
  text-align: center;
}
