.ready__btn {
    color: #3a486b;
    border: 1px solid #3a486b;
    font-family: Lato;
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: all .2s;
    padding: 1rem 4rem;
    border-radius: 3px;

    box-shadow: 0 0 4rem rgba(0, 0, 0, .7);

    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%); 
}

.ready__btn:hover {
    background-color: #3a486b;
    color: #fff;
}

.ready__btn--notvisible {
    display: none;
}