.videoChat {
  display: flex;
  background-color: #eee;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  position: relative;
}
.videoFrame {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
}