a {
  text-decoration: none;
}

.card {
  color: #333333;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .2);
  transition: all .2s;
  margin-bottom: 1rem;
  background-color: #fff;
}

.card:not(:first-child) {
  margin: 2rem 0;
}

.card:hover{
  cursor: pointer;
  background-color: #3a486b;
  color: #fff;
}

.card__name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
}

.active {
  background-color: #3a486b;
  color: #fff;
}