.speelveld {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.speelveld__table {
    position: absolute;
    width: 80%;
    -webkit-filter: drop-shadow(0 1rem 3rem rgba(0, 0, 0, 9));
    filter: drop-shadow(0 1rem 3rem rgba(0, 0, 0, 9));
    border-radius: 1000px;
}

.card-value {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 20%;
}

.speelveld__aflegstapel {
    width: 13%;
    position: absolute;
    left: 35%;
}

.cardsFront {
    width: 100%;
    -webkit-filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, .3));
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, .3));
}

.speelveld__deck {
    width: 13%;
    position: absolute;
    right: 35%;
}

.cardsBack {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 1rem rgba(0, 0, 0, .5));
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, .5));
}

.cardsFront--visible {
    display: none;
}

.cardsBack--visible {
    display: none;
} 